
body {
    line-height: 1.5;
    color: black;
    background-color: #ffffff;
}

blockquote {
    padding: 20px 20px 20px 50px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.filter-pagination {
    display: flex;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img {
    height: 100px;
}

.hero .title {
    font-size: 60pt;
    margin: 0 0 10px;
    text-align: center;
}

.center {
    display: flex;
    /*align-items: center;*/
    justify-content: center;
}

#graph-reporting figure {
    display: inline-block;
}

.company-contact .logo img {
    width: 100px;
}

table.top-10 {
    /*width: 80%;*/
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.upcase {
    text-transform: capitalize ;
}

.mp-info img {
    opacity: 0.5;
}

.mp-info img:hover {
    opacity: 1.0;
}